p{

    background-color: rgb(145, 112, 255);
}

header{
    background-color: #5194ff;
    color : rgb(146, 191, 255);
}

a{
    color: rgb(71, 166, 255);
}

nav ul li{
    list-style-type: none; 
    display: inline;
    text-decoration: none;
}

li{
    padding: 50px;
    text-decoration: none;
}


